Localization
{
    ru
    {
        #BurstPQS_UI_BurstError_Title = BurstPQS

        // BurstPQS could not find any burst-compiled methods!
        //
        // This is not a hard error and your game is not broken. It does mean that KSPBurst was unable to successfully build a native binary so some things will be much slower than they were meant to be.
        //
        // For the latest advice on making KSPBurst work check out BurstPQS forum thread.
        #BurstPQS_UI_BurstError_Message = BurstPQS не смог найти ни одного метода, скомпилированного в Burst!\n\nЭто не серьёзная ошибка, и ваша игра не сломана. Это означает, что KSPBurst не удалось успешно скомпилировать библиотеку, поэтому некоторые функции будут работать значительно медленнее, чем предполагалось.\n\nАктуальные советы по работе с KSPBurst можно найти на форуме в теме BurstPQS.
    }
}
